body {
  font-family: 'Ubuntu', sans-serif;
}
.FAbtn {
  position:fixed;
  bottom:0;
  right:0;
  background-color:rgba(0,0,0,.5);
  color:#fff;
  padding:.5em .8em;
  display:inline-block;
  cursor:default;
}
.FAutils {
  cursor:default;
}
.FAbtn:hover {
  background-color:rgba(0,0,0,.8);
}
.FA {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:45%;
  opacity:.8;
}
.FAtitle {
  background-color:rgba(0,0,0,.8);
  font-size:1em;
  padding: .5em .8em;
  color:#fff;
  position:relative;
}
.FAutils {
  position:absolute;
  top:.3em;
  right:.8em;
}
/**:hover {
  outline:solid 1px rgba(0,0,0,.1);
}*/
.FAactive {
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  border-radius:2px;
  outline:solid 1px rgba(255,255,255,.5);
}
.FAtab {
  font-size:.9em;
  padding: .4em .8em;
  position: relative;
  top: -3px;
}
.FAactiveTab {
  background-color:rgba(255,255,255,.25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.FAlistPane, .FAcontentPane {
  position:absolute;
  top: 2.2em;
  bottom:0;
}
.FAlistPane {
  left:0;
  width:25%;
}
.FAcontentPane {
  right:0;
  width:75%;
  border-left:solid 1px rgba(0,0,0,.25);
}
.FAnavList {
  padding:0;
  margin:0;
}
.FAnavList > li {
  margin:0;
  padding: .5em 1em;
  list-style:none;
  border-bottom:solid 1px rgba(0,0,0,.1);
}
.FAnavActive {
  background-color:rgba(0,0,0,.1);
}
