<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link href="js/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="js/codemirror/theme/duotone-light.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="css/default.css" rel="stylesheet">
  <title>Django Frontend Admin</title>
</head>
<body>

<p>Nothing to see here</p>

<template id="childTemplate">

{% extends "baseTemplate" %}

{% block 'header' %}
<nav>
  <a href="#">Nav item</a>
  <a href="#">Nav item</a>
  <a href="#">Nav item</a>
  <a href="#">Nav item</a>
</nav>
{% block extraHeader %}<p>extra header block</p>{% endblock %}
{% endblock %}

{% block 'footer' %}
<div>Copyright information and other random <b>{{ footerCode }}</b>.</div>
{% endblock %}

{{ finalvariable }} final text</template>

<template id="includeTemplate">

<p>This paragraph has {{ not }} been included via the include template tag.</p>

</template>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/codemirror/codemirror.min.js"></script>
<script src="js/codemirror/addon/mode/overlay.js"></script>
<script src="js/codemirror/mode/django/django.js"></script>
<script>
var TEMPLATES = [
  {
    name: 'baseTemplate',
    content: "<!doctype html><html><head><title>Replaced Django Frontend Admin</title></head><body><div id='doc'><h1>Title goes here.</h1>{% block 'header' %}{% endblock %}<p></p>{% block 'footer' %}{% endblock %}</div></body></html>"
  },
  {
    name: 'childTemplate',
    content: $(childTemplate).html(),
    start: true
  },
  {
    name: 'includeTemplate',
    content: $(includeTemplate).html()
  },
]
</script>
<script src="js/builtin_tags.js"></script>
<script src="js/variable.js"></script>
<script src="js/parser.js"></script>
<script src="js/processor.js"></script>
<script src="js/default.js"></script>
<script>
$('body').append('<div id="frontAdmin" class="FAbtn" title="Open FrontAdmin">FA</div>');

var context = {
  not: 'definitely (resolved)',
  footerCode: 'footer code value (resolved)',
  finalvariable: 'my last words (resolved)'
};

function render() {
  rendering = true;
  FA.process(TEMPLATES);
  FA.render(context);
  rendering = false;
}

var rendering = false;
$('#frontAdmin').click(function() {
  $(this).hide();
  window.FA = new FrontAdmin();
  FA.registerTags(BUILTIN_TAGS);
  render();
  var curTemplate = FA.template;
  var navActiveClass = 'FAnavActive';

  $('body').append('<div class="FA" id="FA"><div class="FAtitle">FrontAdmin <span class="FAutils"><span class="FAtab FAactiveTab" id="FATemplateTab">Templates</span> <span class="FAtab" id="FAContentTab">Content</span> <i class="material-icons" id="closeFA" title="Close FrontAdmin">highlight_off</i></span></div><div class="FAlistPane" id="FAlistPane"></div><div class="FAcontentPane"><textarea id="myTextarea"></textarea></div></div>');
  var navList = '<ul class="FAnavList">';
  TEMPLATES.forEach(function(template, index) {
    navList += '<li fa-template-id="'+index+'"';
    if (template == curTemplate) {
      navList += ' class="'+ navActiveClass +'"';
    }
    navList += '>'+ template.name +'</li>';
  });
  navList += '</ul>';
  $('#FAlistPane').html(navList);
  $('.FAnavList > li').click(function() {
    var templateId = Number( $(this).attr('fa-template-id') );
    selectTemplate(templateId);
  });

  function selectTemplate(templateId) {
    if (templateId != curTemplate.id) {
      curTemplate = TEMPLATES[templateId];
      editor.setValue(curTemplate.content);
      $('.'+navActiveClass).removeClass(navActiveClass);
      $('.FAnavList > li:eq('+templateId+')').addClass(navActiveClass);
    }
  }

  $('#closeFA').click(function() {
    $('#FA').remove();
    $('#frontAdmin').show();
    $(document).off('click');
    activateNode();
  })
  var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: true,
    theme: 'duotone-light',
    mode: 'django'
  });
  editor.setValue(curTemplate.content);
  editor.on('changes', function(cm, change) {
    console.log('document changed');
    if (rendering) {
      console.log('waiting for render ...');
    } else {
      curTemplate.content = editor.getValue();
      render();
      activateNodeFromCursor(cm.getCursor());
    }
  });

  var activeClass = 'FAactive';
  editor.on('cursorActivity', function(cm) {
    activateNodeFromCursor(cm.getCursor());
  });

  $(document).click(function(event) {
    event.preventDefault();
    var $target = $(event.target);
    var tagIdStr = $target.attr('fa-tag-id');
    if (tagIdStr != undefined) {
      var tag = FA.getTag( tagIdStr );
      selectTemplate(tag.template);
      editor.setSelection(tag.start, tag.end);
    }
  });

  function activateNodeFromCursor(cursor) {
    var nodeId = FA.getNodeId(cursor);
    var node = $('[fa-tag-id='+nodeId+']');
    activateNode(node);
  }

  function activateNode($node) {
    $('.'+activeClass).removeClass(activeClass);
    if ($node != undefined) {
      $node.addClass(activeClass);
    }
  }
});


</script>

</body>
</html>
